@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/roboto-slab.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}